*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}

/* header side */

.main-head{
    background: url(images/2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

nav{
    display: flex;
    flex-wrap: wrap;
    min-height: 10vh;
    align-items: center;
    width: 80%;
    margin: auto;
    font-size: 1.2rem;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 35rem;
}

#logo{
    display: flex;
    flex: 2 1 15rem;
    color: white;
}

.sec-1{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Outfit', sans-serif;
}

.p-sec1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 25rem;
}

.p-sec1 p{
    width: 80%;
    font-size: 1.5rem;
    line-height: 5rem;
}

.img-sec1{
    display: flex;
    flex: 1 1 20rem;
    align-items: center;
    justify-content: center;
}

.img-sec1 img{
    height: 40rem;
}

.sec-2{
    min-height: 80vh;
    background: url(images/1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sec-3{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    line-height: 3rem;
}

.sec3-head{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    width: 100%;
}

.cards{
    min-height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card1{
    background: url(images/3.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    width: 20rem;
    height: 40rem;
    flex: 1 1 20rem;
    align-items: center;
    justify-content: space-between;
    margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 3rem;
}
.card2{
    background: url(images/4.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    width: 20rem;
    height: 40rem;
    flex: 1 1 20rem;
    align-items: center;
    justify-content: space-between;
    margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 3rem;
}

/* media query */
@media screen and (max-width: 932px) {
    html{
        font-size: 75%;
    }
    #logo{
        justify-content: center;
        color: black;
    }
    nav{
        width: 100%;
        background: white;
    }
    nav a{
        color: black;
    }
    nav ul{
        margin: 1rem 2.3rem;
    }
    nav li{
        font-size: 70%;
    }
    .p-sec1{
        padding: 1.5rem;
    }
    .p-sec1 p{
        line-height: 3rem;
        width: 100%;
    }
    .img-sec1{
        margin-bottom: 3rem;
    }
    .sec3-head{
        text-align: center;
    }
    .card1{
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 3rem;
    }
    .card2{
        margin-left: 3rem;
        margin-right: 3rem;
    }
}